<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="bg-one aboutHeader d-flex justify-content-center align-items-center">
       <span>2SENS > A PROPOS </span>
  </div>
  <div class="container">
     <h3 class="text-opacity text-center my-4 mb-5" id="about">A propos de 2SENS</h3>
       <div class=" d-flex justify-content-center flex-wrap align-items-center gap-4">
         <div class="col-12 col-md-6 text-content ">
             <p class="text-justify about-text">
               2sens est une plateforme innovante qui met en relation des utilisateurs avec un réseau de consultants experts pour
               obtenir des réponses à leurs questions. Notre mission est de faciliter l'accès à des conseils de qualité et de
               permettre aux utilisateurs de prendre des décisions éclairées.
               Créée en 2024, 2sens est le fruit du travail d'une équipe passionnée par l'innovation et l'amélioration de
               l'expérience utilisateur. Nous avons constaté que de nombreuses personnes rencontrent des difficultés à trouver des
               réponses fiables à leurs questions, que ce soit dans leur vie professionnelle ou personnelle. C'est dans ce contexte
               que nous avons développé 2sens, une plateforme qui permet de combler ce besoin de manière simple et efficace.
             </p>
             <p class="text-justify about-text">
               Notre approche se fonde sur deux principes clés :<br><br>

               <span class="fw-bold">1. Expertise et qualité :</span> Nous avons constitué un réseau de consultants hautement
               qualifiés dans une grande variété de domaines. Chacun d'entre eux a fait ses preuves dans son secteur et s'engage à
               fournir des réponses précises, pertinentes et adaptées aux besoins de nos utilisateurs.<br>
               <span class="fw-bold">2. Accessibilité et simplicité :</span> Nous souhaitons rendre l'accès à l'expertise
               consultante le plus simple et abordable possible. C'est pourquoi notre plateforme a été conçue pour être intuitive
               et conviviale, avec des tarifs compétitifs et une expérience utilisateur fluide.<br>
               Depuis son lancement, 2sens a permis à des milliers d'utilisateurs de trouver les réponses dont ils avaient besoin,
               que ce soit pour résoudre un problème spécifique, prendre une décision éclairée ou simplement approfondir leurs
               connaissances sur un sujet donné. Nous sommes fiers de contribuer à l'autonomisation et à l'épanouissement de nos
               utilisateurs, et nous continuons à travailler sans relâche pour améliorer et développer notre plateforme.
             </p>
         </div>
         <div class="col-12 bg-one col-md-5">
            <img src="assets/2sensImages/about 1.png" class="w-100 img-fluid" alt="image apropos">
         </div>
       </div>
     <h3 class="text-opacity text-center my-4 mb-5" id="question">Comment ça fonctionne ?</h3>
       <div class=" d-flex justify-content-center flex-wrap align-items-center gap-4">
         <div class="col-12 col-md-6 text-content ">
             <p class="text-justify about-text">
               <span class="fw-bold">1.Poser une question : </span> Les utilisateurs peuvent soumettre leurs questions sur la plateforme, en décrivant leur problématique de manière détaillée.<br>
               <span class="fw-bold">2.Trouver un consultant : </span> Notre système apparie automatiquement chaque question avec les consultants les plus qualifiés pour y répondre.<br>
               <span class="fw-bold">3.Obtenir une réponse : </span>Les consultants fournissent des réponses détaillées et personnalisées aux questions des utilisateurs dans un délai rapide.<br>
               <!-- <span class="fw-bold">4.Évaluer la réponse  </span>: Les utilisateurs peuvent notés et commenter les réponses reçues afin d'améliorer continuellement la qualité du service.<br> -->
             </p>
         </div>
         <div class="col-12  col-md-5">
            <img src="assets/2sensImages/question.png" class="w-100 img-fluid" alt="image apropos">
         </div>
       </div>
     <h3 class="text-opacity text-center my-4 mb-5" id="avantage">Avantages pour les utilisateurs</h3>
       <div class=" d-flex justify-content-center flex-wrap align-items-center gap-4">
         <div class="col-12 col-md-6 text-content ">
             <p class="text-justify about-text">
               <span class="fw-bold">. Accès à l'expertise : </span>  : Bénéficiez des connaissances et de l'expertise de nos consultants dans divers domaines.<br>
               <span class="fw-bold">. Réponses rapides et personnalisées : </span> Obtenez des réponses adaptées à vos besoins spécifiques dans des délais courts.<br>
               <span class="fw-bold">. Tarifs abordables : </span>Profitez de nos tarifs compétitifs pour accéder à des conseils de qualités.<br>
               <span class="fw-bold">. Satisfaction garantie : </span> Évaluez la qualité des réponses et aidez-nous à améliorer constamment notre service.<br>
             </p>
         </div>
         <div class="col-12  col-md-5">
            <img src="assets/2sensImages/avantage 1.png" class="w-100 img-fluid" alt="image apropos">
         </div>
       </div>
     <h3 class="text-opacity text-center my-4 mb-4" id="choix">Pourquoi choisir 2sens ?</h3>
       <div class=" d-flex justify-content-center flex-wrap align-items-center gap-4">
         <div class="col-12 col-md-6 text-content ">
             <p class="text-justify about-text">
               <span class="fw-bold">. Experts qualifiés : </span> Notre réseau de consultants est composé de professionnels reconnus dans leur domaine.<br>
               <span class="fw-bold">. Réponses rapides et personnalisées : </span> Obtenez des réponses adaptées à vos besoins spécifiques dans des délais courts.<br>
               <span class="fw-bold">. Tarifs abordables : </span>Profitez de nos tarifs compétitifs pour accéder à des conseils de qualité.<br>
               <span class="fw-bold">. Satisfaction garantie : </span> Évaluez la qualité des réponses et aidez-nous à améliorer constamment notre service.<br>
             </p>
         </div>
         <div class="col-12 col-md-5">
            <img src="assets/2sensImages/about 1.png" class="w-100 img-fluid" alt="image apropos">
         </div>
       </div>
     <h3 class="text-opacity text-center my-4 mb-4">Processus de sélection des consultants</h3>
       <div class=" d-flex justify-content-center flex-wrap align-items-center gap-4">
         <div class="col-12 col-md-6 text-content ">

             <p class="text-justify about-text">
              <span>Chez 2sens, nous accordons une grande importance à la qualité de nos consultants. Notre processus de sélection est rigoureux :</span><br><br>
               <span class="fw-bold"> a.Évaluation des compétences :  </span>Chaque candidat doit passer des tests techniques et des entretiens approfondis pour démontrer son expertise.<br>
               <span class="fw-bold"> b. Vérification des références : </span> Nous contactons les anciens clients et employeurs des candidats pour valider leur expérience et leurs performances.<br>
               <span class="fw-bold"> c. Evaluation continue :  </span> Une fois intégrés à notre réseau, les consultants font l'objet d'un suivi régulier et de notations par les utilisateurs pour maintenir un haut niveau de qualité.<br>
             </p>
         </div>
         <div class="col-12  col-md-5">
            <img src="assets/2sensImages/processus.png" class="w-100 img-fluid" alt="image apropos">
         </div>
       </div>
     <h3 class="text-opacity text-center my-4 mb-4">Tarification et modalités de paiement</h3>
       <div class=" d-flex justify-content-center flex-wrap align-items-center gap-4">
         <div class="col-12 col-md-6 text-content ">
             <p class="text-justify about-text">
              <span>2sens propose des tarifs compétitifs, avec plusieurs options de paiement pour s'adapter à tous les budgets :</span><br><br>
               <span class="fw-bold">. Paiement à la question :  </span> Les utilisateurs payent une somme fixe pour chaque question posée.<br><br>
               <span class="fw-bold">. Abonnements  : </span> Des forfaits d’abonnements permettent d'accéder à un nombre un nombre scepecifique de question avec reduction du cout pour encourage les utilisateurs fidèles<br>
             </p>
         </div>
         <div class="col-12  col-md-5">
            <img src="assets/2sensImages/modalite.png" class="w-100 img-fluid" alt="image apropos">
         </div>
       </div>

       <div class="btn-question my-5 d-flex justify-content-center align-items-center">
          <a class="btn-one py-md-3 question d-flex justify-content-center align-items-center" [routerLink]="['/question']"> <strong> <i class="bi bi-plus-lg me-2"></i></strong> <span class="btn-text">Poser votre question</span></a>
       </div>
     </div>
  </div>
<app-footer></app-footer>
