<div class="container   my-3">
  <div class="form-content">
    <form action="" [formGroup]="formquestion" (ngSubmit)="SendData()">
      <div class="mb-3">
        <label for="title" class="form-label fw-bold">Titre <sup class="text-red fw-bold maks">*</sup></label>
        <div class="form-floating mb-3">
          <input type="text" class="form-control shadow-none" [(ngModel)]="titre" formControlName="titre" id="floatingInput"  name="title" placeholder="comment aller au canada" required>
          <label for="floatingInput">Titre de la question</label>
        </div>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label fw-bold">Description <sup class="text-red maks fw-bold ">*</sup></label>
        <div class="form-floating">
          <textarea class="form-control shadow-none" [(ngModel)]="description" formControlName="description" placeholder="Leave a comment here" id="floatingTextarea2"  style="height: 100px" required></textarea>
          <label for="floatingTextarea2">Description de la question</label>
        </div>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label fw-bold">Image 1</label>
        <input class="form-control shadow-none" type="file" formControlName="image1"  id="formFile">
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label fw-bold">Image 2</label>
        <input class="form-control shadow-none" type="file"  formControlName="image2" id="formFile">
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label fw-bold">Image 3</label>
        <input class="form-control shadow-none" type="file" formControlName="image3"  id="formFile">
      </div>
      <div class="mb-3 d-flex justify-content-between align-items-center gap-3">
        <input class="inputcheck" type="checkbox" formControlName="confirmation" >
        <span class="text-check">Je confirme que ces informations sont conformes et   ne conserne pas la vie privee d’une personne  </span>
      </div>
      <div class="mb-3 mt-4 d-flex justify-content-center align-items-center  ">
        <button type="submit" class="   px-3 py-2 w-25 {{ formquestion.invalid ? 'btn-one' : 'btn-three' }}  " [disabled]="formquestion.invalid" style="min-width: 200px; min-height: 45px;">Publier</button>
      </div>
    </form>
  </div>
</div>
