<div class="container my-4 ">
  <h4 class="fw-bold text-opacity text-center my-5">Qui somme nous ?</h4>
  <div class="row px-3 d-flex justify-content-around align-items-center gap-2  ">
    <div class="col-12 col-md-4 d-flex flex-column justify-content-center ">
      <p class="text-justify text-black">
        2SENS est une plateforme  collaborative pour les services publics au cameroun notre principale mission est de fournir des reponses aux preocupations des citoyens camerounais en faisant appel au expert du domaine
      </p>
       <a class="text-two text-decoration-none d-flex fs-5 align-items-center gap-2" [routerLink]="['/about']">en savoir plus <i class="bi bi-arrow-right "></i></a>
    </div>
    <div class="col-12 col-md-5 d-flex justify-content-md-end align-items-center ">
       <img src="assets/2sensImages/about.webp" class="img-fluid " id="about-img" alt="image about">
    </div>
  </div>

</div>

