<div class="container mx-auto mt-3 comment d-flex flex-column justify-content-center align-items-center " >
  <h5 class="my-3 text-center text-opacity">Ce que disent nos utilisateurs</h5>
  <!-- <div class="col d-flex justify-content-end align-items-center gap-5 w-75 my-3 fs-3">
    <i class="bi bi-arrow-left text-one fs-3"></i>
    <i class="bi bi-arrow-right text-one fs-3"></i>
  </div> -->
  <div class="comment-item col mx-auto d-flex justify-content-center align-items-center flex-wrap gap-3 mt-2  align-self-center mt-3">
    <div class="card-comment col col-md-5 p-3 d-flex flex-column gap-3 shadow">
      <div class="row">
        <i class="bi bi-quote"></i>
        <p class="text-justify mt-3">2sens est la plateforme idéale pour obtenir des réponses rapides et fiables à vos questions les plus pressantes. Que vous soyez à la recherche d'un conseil d'expert ou d'une solution innovante, la communauté 2sens est là pour vous épauler à chaque étape</p>
      </div>
      <div class="col d-flex align-items-center gap-md-5">
        <img src="assets/2sensImages/profil_man.png" class="rounded-circle img-fluid" alt="profil user" width="60px">
        <span class="font-two fw-bold text-uppercase">bonsou</span>
      </div>
    </div>
    <div class="card-comment col col-md-5 p-3 d-flex flex-column gap-3 shadow">
      <div class="row">
        <i class="bi bi-quote"></i>
        <p class="text-justify mt-3">Avec 2sens, vous n'avez plus à chercher dans des forums éparpillés ou à attendre des jours une réponse. Notre communauté de passionnés est là pour vous guider et vous éclairer, quelle que soit la nature de votre interrogation. Rejoignez-nous dès maintenant pour découvrir un nouveau moyen de partager vos connaissances !</p>
      </div>
      <div class="col d-flex align-items-center gap-md-5">
        <img src="assets/2sensImages/profil_man.png" class="rounded-circle img-fluid" alt="profil user" width="60px">
        <span class="font-two fw-bold text-uppercase">kengni</span>
      </div>
    </div>
  </div>
</div>
