<div class=" card shadow">
  <div class="col d-flex justify-content-between align-items-center card-head">
    <span class="text-one">Abonnements</span>
    <span class="text-two">Questions</span>
  </div>
  <div class="card-coast d-flex justify-content-center align-items-center">
    <span>1 Question /<strong class="text-two">300fcfa</strong></span>
  </div>
  <div class="card-content mt-3 col px-2">

    <div class="col my-2 card-item">
      <i class="bi bi-check2-circle"></i>
      <span>Poser une seul question</span>
    </div>
    <div class="col my-2 card-item">
      <i class="bi bi-x-circle"></i>
      <span>Classer les questions comme prioriter</span>
    </div>
    <div class="col my-2 card-item">
      <i class="bi bi-check2-circle"></i>
      <span>Reponse rapide et fiable</span>
    </div>
    <div class="col my-2 card-item">
      <i class="bi bi-check2-circle"></i>
      <span><strong class="text-two">00</strong> questions gratuites</span>
    </div>
    <div class="col my-4 w-100 d-flex justify-content-center align-items-center">
      <a [routerLink]="['/reponses-users']" class="btn-one text-center" style="min-width: 180px;">Souscrire</a>
    </div>
  </div>
</div>
