<nav class="navbar navbar-warning  text-black navbar-expand-lg  ">
  <div class="container-fluid px-4 mt-3 d-flex align-items-center">
    <a class="navbar-brand text-light" [routerLink]="['/home']"><img src="assets/2sensImages/logo.png" width="90px" alt="logo 2sens"></a>
    <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end  g-3" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-black" id="offcanvasDarkNavbarLabel"><img src="assets/2sensImages/logo.png" width="60px" alt="logo 2sens"></h5>
        <button type="button" class="btn-close btn-close-dark shadow-none border-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body  ">
        <ul class="navbar-nav justify-content-center flex-grow-1 d-flex gap-3 pe-3 text-light align-items-center">
          <li class="nav-item">
            <a class="nav-link selected-link   font-two fw-bold" aria-current="page" [routerLink]="['/home']" routerLinkActive="selected-link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link   font-two fw-bold" aria-current="page"  [routerLink]="['/about']" routerLinkActive="selected-link">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link   font-two fw-bold" aria-current="page"  [routerLink]="['/discutions']" routerLinkActive="selected-link">DISCUSIONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link   font-two fw-bold" aria-current="page"  [routerLink]="['/questions']" routerLinkActive="selected-link">QUESTIONS</a>
          </li>
          <li class="nav-item">
            <form class="d-flex  align-items-center" role="search">
              <input class="form-control me-2 shadow-none" type="search" placeholder="Search" id="inputsearch" aria-label="Search">
              <button class="btn-one" type="submit">Search</button>
            </form>
          </li>
        </ul>

        <a class="text-decoration-none btn-one  " aria-current="page" href="#">LOGIN</a>
      </div>
    </div>
  </div>
</nav>

