
.selected-link
{
  // padding:  10px;
  background-color:var(--first-color);
  color:#fff;
  /* border-radius: 5px; */
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: var(--first-color);
  transition: color 0.4s ease-in;
  transition: border 0.4s ease-in-out;
}
.navbar-nav li a{
  padding:  10px;
  border-bottom-width: 5px;
  border-bottom-style: none;
  box-sizing: border-box;
}
.navbar-nav>li>a:hover
{
  color:var(--first-color);
  /* border-radius: 5px; */
  border-bottom-style: solid;
  border-bottom-color: var(--first-color);
  transition: color 0.4s ease-in;
  transition: border 0.4s ease-in-out;
}


.navbar-nav>li
{
  position: relative;
}
.navbar
{

   border-bottom: 1px solid gray;
}


@media screen and (min-width:1000px){
  #inputsearch
  {
    width: 25vw;
    min-width: 250px;
  }
  .navbar
  {
    display: flex;
    justify-content: space-between;
    padding: 20px  10px;
  }
  .navbar-nav
  {
    box-sizing: border-box;
    height: 50px;
  }
}
@media screen and (max-width:980px){
  a.btn-one
  {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width:1000px){
  .profil
  {
    margin-top: 15px;
  }
}
