<div class="stat container bg-blue-opacity p-5">
   <div class="col d-flex justify-content-between align-items-center gap-2">
     <div class="row stat-item text-center">
       <span class="fw-bold ">50 +</span>
       <span class="fw-bold ">Utilisateurs</span>
     </div>
     <div class="row stat-item text-center">
       <span class="fw-bold  ">15 +</span>
       <span class="fw-bold ">Consultants</span>
     </div>
     <div class="row stat-item text-center">
       <span class="fw-bold  ">60 +</span>
       <span class="fw-bold ">Reponses</span>
     </div>
     <div class="row stat-item  text-center">
       <span class="fw-bold  ">70 +</span>
       <span class="fw-bold  ">Questions</span>
     </div>
   </div>
</div>
