<div class="row header-nav  text-light py-3 w-100 d-flex justify-content-between align-items-center m-0">
  <div class="col d-flex justify-content-start align-items-center">
      <i class="bi bi-list fs-4 cursor-pointer text-dark"></i>
      <span class="fw-bold fst-italic ms-3 text-dark ">Dashboard</span>
  </div>
  <div class="col d-flex justify-content-start align-items-center">
      <i class="bi bi-calendar-check"></i>
      <span class="fw-bold fst-italic ms-3 text-dark">15/07/2024 08:27</span>
  </div>
  <div class="col  d-flex justify-content-end">
      <div class="row d-flex gap-2 flex-row  justify-content-center align-items-center ">
          <img src="assets/2sensImages/profil_man.png" alt="profil utilisateur" class="rounded-circle w-50 " height="40px" >
          <span class="text-center fw-bold text-dark">Dimidev</span>
      </div>
  </div>
 </div>
