<div class="container-fluid reponse">
  <div class="reponse-header d-flex justify-content-between align-items-center gap-3 border-bottom-4 border-primary">
    <div class="col ">
      <!-- <a [routerLink]="['/questions']"><i class="bi bi-arrow-left me-md-5 me-3 text-one"></i></a> -->
      <!-- Button trigger modal -->
    <a class="cursor-pointer" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="bi bi-arrow-left me-md-5 me-3 text-one"></i>
    </a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-one text-header" id="exampleModalLabel">Cher Utilisateur   Quelle est la reponse qui vous a le plus aider ? </h1>
        <!-- <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <form action="">
          <select class="form-select form-select-lg mb-3 shadow-none" aria-label="Large select example" required>
            <option value="">Selectionnez le numero  de  la meilleur reponse</option>
            <option value="1">
              1  : <span class="user-name ms-2 fw-bold">Bonsou dimitri</span>
            </option>
            <option value="2">2 : <span class="user-name ms-2 fw-bold">Kamga paul</span></option>
            <option value="3">3 : <span class="user-name ms-2 fw-bold">Nje Man</span></option>
          </select>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
            <button type="submit" class="btn-one">Envoyer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
      <img src="/assets/2sensImages/profil_man.png" alt="photo profil" class="img-fluid rounded-circle" >
      <span class="user-name ms-2 fw-bold">Bonsou dimitri</span>
    </div>
    <div class="header-date d-flex flex-column gap-1 text-end ">
       <span class="text-opacity">20/06/2024</span>
       <span class="text-opacity">16:35:25</span>
    </div>
  </div>
  <div class=" container question-item">
    <div class=" my-3 d-flex justify-content-end">
              <!-- Button trigger modal -->
        <button type="button" class="btn-one" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <i class="bi bi-plus-lg me-2"></i>Ajouter une reponse
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Repondre a cette question</h1>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="">
                  <textarea type="text" placeholder="entrer votre reponse" class="form-control shadow-none" rows="10" required minlength="100"></textarea>
                  <div class="modal-footer">
                    <button type="submit" class="btn-one my-3">Envoyer</button>
                    <button type="button" class="btn-two" data-bs-dismiss="modal">Annuler</button>
                    <!-- <button type="button" class="btn btn-primary">Envoyer</button> -->
                  </div>
                </form>
              </div>
            </div>
          </div>
</div>
    </div>
    <div class="row  d-flex flex-column justify-content-center align-items-center gap-1">
       <span class="text-two fw-bold my-3 text-center mt-5">Comment faire pour avoir le passport ?</span>
       <p class="text-justify mt-2  text-md-center">Je desirais savoir toute les pieces necessaire pour obtenir un passport allant dans plus 20 pays en europe</p>
    </div>
    <div class="row ">
      <span class="text-two">Pieces jointes</span>
      <div class="col d-flex flex-row flex-wrap justify-content-between align-items-center gap-3 my-2 ">
       <div class="box  col-12 col-md-3 bg-light min-w-100"></div>
       <div class="box col-12 col-md-3 bg-light min-w-100"></div>
       <div class="box col-12 col-md-3 bg-light min-w-100"></div>
      </div>
    </div>
    <div class="col col-md-6 mx-auto p-3 shadow my-3 rounded-3">
       <p class="text-md-center">seul les consultants peuvent répondre a une question vous êtes prier de selectionné la questions qui vous a le plus aider </p>
    </div>
     <div class="row mt-3">
       <span class="text-center text-opacity mt-3">24/04/2024</span>
       <div class="reponse-text">
        <app-reponse-item></app-reponse-item>
      </div>
     </div>
     <div class="row mt-3 px-2">
       <span class="text-center text-opacity mt-3">24/04/2024</span>
       <div class="reponse-text">
         <app-reponse-item></app-reponse-item>
       </div>
     </div>
     <div class="row mt-3 px-2">
       <span class="text-center text-opacity mt-3">24/04/2024</span>
       <div class="reponse-text">
         <app-reponse-item></app-reponse-item>
       </div>
     </div>

  </div>
</div>
