<div class=" footer container-fluid bg-one text-white mt-5  ">

  <div class=" container mt-5 mb-3 footer-item d-flex justify-content-between gap-5 align-items-start">

    <div class=" footer-content col-12 col-md-3 ">
      <img src="assets/2sensImages/2SENS (1).png" alt="logo footer">
      <p>nous sommes une entreprise camerounaise base a douala plus precisement a akwa pour plus d’informations veuillez
        nous contacter via nos differents reseaux sociaux</p>
    </div>
    <div
      class=" footer-content col-12 col-md-3  d-flex flex-column justify-content-center text-white align-items-center gap-1">
      <h4 class="text-white text-opacity">PAGES</h4>
      <div class="footer-link d-flex flex-column justify-content-center align-items-center gap-3 ">
        <a href="#" class="text-white">Home</a>
        <a href="#" class="text-white">Discutions</a>
        <a href="#" class="text-white">About Us</a>
        <a href="#" class="text-white">Questions</a>
      </div>
    </div>


    <div class=" footer-content col-12 col-md-3 d-flex flex-column justify-content-center align-items-center gap-3">
      <h4 class="text-white text-opacity">RESEAUX SOCIAUX</h4>
      <div class="col col-md-3 d-flex justify-content-center align-items-center gap-3">
        <a href="#" class="text-white"><i class="bi bi-facebook "></i></a>
        <a href="#" class="text-white"><i class="bi bi-envelope"></i></a>
        <a href="#" class="text-white"><i class="bi bi-linkedin"></i></a>
        <a href="" class="text-white"><i class="bi bi-twitter-x"></i></a>
      </div>
    </div>
  </div>
  <div class="container w-100 d-flex justify-content-between align-items-center my-4 gap-4">
    <span>&copy;2024 Dimi-Dev</span>
    <span>Privacy by default</span>
  </div>
</div>
