<app-navbar></app-navbar>
<div class="container">
  <div class="my-3">
     <app-infos-menu libelle="New Infos" description="Quelles sont les raisons pour lesquels vous signaler cette question"></app-infos-menu>
  </div>
  <div class="form-content">
    <div class="my-3">
      <p>les champs portant <span class="text-red">*</span> sont obligatoires</p>
    </div>
    <div class="my-4">
      <form action="" [formGroup]="formsignaler" (ngSubmit)="SendSignal()">
        <div class="mb-3">
          <label for="title" class="form-label fw-bold">motif <sup class="text-red fw-bold maks">*</sup></label>
          <div class="form-floating mb-3">
            <input type="text" formControlName="titre" [(ngModel)]="libelle" class="form-control shadow-none" id="floatingInput" name="title" placeholder="comment aller au canada" required>
            <label for="floatingInput">raison de signalement</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="title" class="form-label fw-bold">Description <sup class="text-red maks fw-bold ">*</sup></label>
          <div class="form-floating">
            <textarea formControlName="description" [(ngModel)]="description" class="form-control shadow-none" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" required></textarea>
            <label for="floatingTextarea2">l'impact de la question poser</label>
          </div>
        </div>
        <div class="mb-3 d-flex justify-content-between align-items-center gap-3">
          <input class="inputcheck" formControlName="checkbox" type="checkbox" required >
          <span class="text-check">je  confirme que cette action est effectuer dans un but non lucratif  </span>
        </div>
        <div class="mb-3 mt-5 d-flex justify-content-center align-items-center  ">
          <button type="submit" class="{{ formsignaler.invalid ?'btn-one' : 'btn-three'}} px-3 py-2 w-25" [disabled]="formsignaler.invalid" style="min-width: 200px; min-height: 45px;">Signaler</button>
        </div>
      </form>
    </div>
  </div>
  </div>
