<app-navbar></app-navbar>
<div class="container">
  <div class="my-3">
     <app-infos-menu title="Infos" description="Toute vos questions poses s'afficherons ici"></app-infos-menu>
  </div>
  @if(listeUsersQuestion.length>0)
  {
        <div class="liste-card my-3 d-flex flex-column gap-3 justify-content-center align-items-center " *ngFor="let question of listeUsersQuestion ">
          <app-cardcomponent
          date="{{ question.date | date }}"
          titre="{{ question.titre }}"
          description="{{ question.DESCRIPTION }}"
            heure="{{ question.heure }}"
            nom="{{ question.USERNAME }}"
           idquestion=" {{ question.ID_QUESTION}}"
            [showbtnsignaler]="false"
             [showbtnrepondre]="false"
             [showbtnvoirreponse]="true"
              ></app-cardcomponent>
      </div>
  }
  @else {
    <div class="d-flex justify-content-center align-items-center"style="min-height: 100px;">
      <p class="text-center fw-bold text-two fs-5">Vous n'avez pas encore poser de question connecter vous et poser votre question </p>
    </div>
  }
</div>
<app-footer></app-footer>
