<app-navbar></app-navbar>
<div class="container">
  <div class="my-3">
     <app-infos-menu title="Infos" description="Toute vos questions poses s'afficherons ici"></app-infos-menu>
  </div>
  <div class="liste-card my-5 d-flex flex-column gap-3 justify-content-center align-items-center ">
  <app-cardcomponent [showbtnvoirreponse]="true" [showbtnsignaler]=" false " [showbtnrepondre]="false"></app-cardcomponent>
  <app-cardcomponent [showbtnvoirreponse]="true" [showbtnsignaler]=" false " [showbtnrepondre]="false"></app-cardcomponent>
  <app-cardcomponent [showbtnvoirreponse]="true" [showbtnsignaler]=" false " [showbtnrepondre]="false"></app-cardcomponent>
  </div>
</div>
<app-footer></app-footer>