.google-content
{
  border: 1px solid rgba(128, 128, 128, 0.585);
  // padding: 10px;
  height: 50px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  .google-link
  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    // padding: 5px 25px;
    width: 100%;
  }
  img
  {
    width: 50px;
  }
  span
  {
    font-size: 1rem;
    text-align: center;
  }
}
.input-item
{
  position: relative;
   input
   {
    height: 50px;
    text-indent: 40px;
   }
   .image
   {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translate(-10px,-50%);
       font-size: 25px;
   }
}
.connect-link
{
  padding: 15px 25px;
  border: 1px solid rgba(128, 128, 128, 0.492);
  border-radius: 25px;
}
@media screen and (max-width:1000px){
  .login
  {
     span ,a
     {
      font-size: 0.9rem;
     }
  }
  .google-link
  {
   span
   {
      font-size: 0.8rem;
   }
  }
}
@media screen and (max-width:400px){
  .login
  {
     span ,a
     {
      font-size: 0.7rem;
     }
  }

}
@media screen and (max-width:500px){
 .google-link
 {
  span
  {
     font-size: 0.6rem;
  }
 }
}

