<div class=" contact bg-one container mt-3">
  <img src="assets/2sensImages/contact.webp" alt="image section">
  <input type="text">
  <p>enter texte</p>
  <div class="formulaire">
     <h1>Nous Conctacter </h1>
     <form action="">
       <input type="text" class="form-control shadow-none" placeholder="Entrer votre nom">
       <input type="email" class="form-control shadow-none" placeholder="Entrer votre adresse mail">
       <textarea name="" id="" class="form-control shadow-none" cols="" rows="10"></textarea>
       <button class="btn-two">Envoyer</button>
     </form>
     .
  </div>
</div>



