<div class=" contact bg-one container mt-3 px-5 ">
  <div class="formulaire px-3 py-4 bg-white ">
     <h3 class="text-center fw-bold font-one mb-4">Nous Conctacter </h3>
     <form action="" [formGroup]="commentForm" (ngSubmit)="SendComment()"  class=" d-flex justify-content-center align-items-center gap-3 flex-column">
       <input type="text" id="name" class="form-control shadow-none" formControlName="nom" [(ngModel)]="nom" placeholder="Entrer votre nom" required>
       <input type="email" id="email" class="form-control shadow-none" formControlName="email" [(ngModel)]="email"  placeholder="Entrer votre adresse mail" required>
       <textarea id="description"  class="form-control shadow-none" formControlName="message" [(ngModel)]="message"    cols="" rows="5" placeholder="entrer votre message" required></textarea>
       <button type="submit" class=" {{ commentForm.invalid ? 'btn-two':'btn-one'  }}  w-100" [disabled]="commentForm.invalid">Envoyer</button>
     </form>
     .
  </div>
</div>



