<app-navbar></app-navbar>
<div class="container login d-flex justify-content-center align-items-center gap-3 mt-4">
  <div class="col-md-7 col-12  d-flex flex-column justify-content-center align-items-center gap-3">
    <div class="w-75">

      <div class="row text-header">
      <span class="fw-bold my-2  text-title">Vous avez oublier votre mot de passe pas de soucis </span>
      <span class="ms-2">Entrer votre adresse email pour renitialiser le mot de passe</span>
      </div>
     <div class="form-content mt-3">
       <form action="">
         <div class="col input-item my-3 ">
            <i></i>
            <img src="assets/2sensImages/Google.png" class="image" alt=" logo de google">
            <input type="email" name="" id="" placeholder="Entrez votre email" class="form-control shadow-none rounded" required>
         </div>
         <div class="my-3 ">
            <button type="submit" class="btn-one w-100">Envoyer</button>
         </div>
       </form>
     </div>
    </div>
  </div>
  <div class="bg-warning col-md-5">
    <img src="assets/2sensImages/login.png" class="img-fluid w-100" alt="image de connection">
  </div>
</div>
<app-footer></app-footer>