<div class=" sidebar col col-md-2 col-xm-3 col-1 d-md-flex bg-light text-light flex-column justify-content-between text-uppercase align-items-center gap-3  h100" >
  <div class=" bg-light h-auto">
      <img src="assets/2sensImages/2SENS.png" alt="LOGO2SENS" width="150px" style="min-width: 50px;" class="img-fluid logo">
  </div>
  <div class="sidebar-content col d-flex flex-column gap-4 mt-5 justify-content-center align-items-center w-100">

      <div class="d-flex gap-3 align-items-center  w-75 lien justify-content-center justify-content-md-start active">
          <i class="bi bi-house-door-fill fs-3 sidebar-icon"></i>
          <li><a href="./index.html" class="sidebar-link fw-bold d-none d-md-block  ">Home</a></li>
      </div>
      <div class="d-flex gap-3 align-items-center w-75 lien justify-content-center justify-content-md-start">
          <i class="bi bi-basket2-fill fs-3 sidebar-icon "></i>
          <li><a href="./stock.html" class="sidebar-link  fw-bold d-none d-md-block ">Stock</a></li>
      </div>
      <div class="d-flex gap-3 align-items-center w-75 lien justify-content-center justify-content-md-start">
          <i class="bi bi-bag-plus-fill fs-3 sidebar-icon"></i>
          <li><a href="#" class="sidebar-link menu  fw-bold d-none d-md-block">Categorie</a></li>
      </div>
      <div class="d-flex gap-3 align-items-center w-75 lien justify-content-center justify-content-md-start">
          <i class="bi bi-cart-plus-fill fs-3 sidebar-icon"></i>
          <li><a href="#" class="sidebar-link  fw-bold d-none d-md-block">Produit</a></li>
      </div>
      <div class="d-flex gap-3 align-items-center w-75 lien justify-content-center justify-content-md-start">
          <i class="bi bi-people fs-3 sidebar-icon"></i>
          <li><a href="#" class="sidebar-link  fw-bold d-none d-md-block">Personnel</a></li>
      </div>

  </div>
  <div class="col d-flex justify-content-center align-items-end mb-3 w-100  text-light justify-content-center justify-content-md-start">
      <li class="w-100"><a href="#" class="deconnect btn btn-danger w-100 py-md-2 d-flex align-items-md-center gap-md-3 justify-content-md-center  "><span class="d-none d-md-block">Deconnecter</span> <i class="bi bi-box-arrow-in-right fs-3"></i></a></li>

  </div>


</div>
