<div class="container mb-3">
   <div class="col">
     <h5 class="text-center text-opacity fw-normal mb-3">les entreprises nous faisant confiance</h5>
     <div class="partener-item row d-flex justify-content-center align-items-center gap-3 flex-wrap">
        <img src="assets/2sensImages/microsoft-alt.svg.png" alt="logo entreprise" >
        <img src="assets/2sensImages/dialpad-alt.svg.png" alt="logo entreprise">
        <img src="assets/2sensImages/logitech-alt.svg.png" alt="logo entreprise">
        <img src="assets/2sensImages/box-alt.svg.png" alt="logo entreprise">
     </div>
   </div>
</div>
