.subcribe img
{
    /* width: 25vw; */
  width: 90%;
}
.input-subcribe form
{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 100px;
}
.input-subcribe input
{
  border-right: 0;
  width: 40vw;
  min-width: 250px;
  height: 50px;
}
.input-subcribe button
{
  height: 50px;
}
@media screen and (min-width:800px)
{
  .subcribe img
  {
    width: 300px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
}
@media screen and (max-width:500px)
{
  .text-responsive
  {
    font-size: 18px;
  }
}
