<div class="container my-3 subcribe ">
  <h3 class="text-center text-opacity mb-5">Restez en contact avec nous</h3>
  <div class="row d-flex justify-content-around  align-items-center gap-3">
    <div class="col col-md-4 col-md-offset-3  ">
       <p class="text-justify">Laisser nous votre adresse mail pour avoir des notifications lors de nouvelle publication sur notre plateforme .</p>
    </div>
    <div class="col col-md-5 col-md-offset-3 d-flex  justify-content-center">
      <img src="assets/2sensImages/subscribe.webp" alt="image subcribe" >
    </div>
  </div>
  <div class=" input-subcribe   mt-5">

    <form action="" [formGroup]="emailForm"  (ngSubmit)="SendData(email)">
      <input type="email" class="form-control shadow-none " formControlName="emailAdress" [(ngModel)]="email" placeholder="entrer votre adresse email" required >
      <button type="submit" class=" py-2 px-4 text-white border-0 {{ emailForm.invalid ? 'bg-one' : 'bg-two' }} " id="btn" [disabled]="emailForm.invalid" >S'abonner</button>
    </form>
  </div>
  <div class="col mt-5 ">
    <h3 class="text-center text-opacity mb-5 text-responsive">  Comment avez vous trouver notre plateforme ?</h3>
    <div class="row d-flex justify-content-around  align-items-center gap-3">
      <div class="col col-md-4 col-md-offset-3  ">
         <p class="text-justify">Laisser nous un commentaires  pour des eventuelles ameliorations</p>
      </div>
      <div class="col col-md-5 col-md-offset-3 d-flex  justify-content-center">
        <img src="assets/2sensImages/comment.webp" alt="image subcribe" >
      </div>
    </div>
  </div>
</div>
