#homescreen
{
  width: 100vw;
  height: 20vh;
  position: relative;
  display: block;
  z-index: 1;
 margin-bottom: 25px;

}
#carouselExampleInterval
{
  display: block;
  position: relative;
}
.carousel-item
{
  height: 85vh;
}
.carousel-item img
{
  height: 100%;
}
