.service
{
  height: max-content;
}
.service-content
{
  position: relative;
  display: block;
  margin: 100px 0px 25px 0px;
}

.service-home
{
   height: 200px;
   border-top-left-radius: 50px;
   border-bottom-left-radius: 999px;
   border-bottom-right-radius:999px;
   border-top-right-radius: 0px;
   color: white;
   position: relative;
}
.service-item
{
  position: relative;
  top: -100px;
  left: 25px;
  .service-box
  {

     height: 280px;
     padding: 15px 10px;
  }
}

@media screen and (min-width:500px ) {
  .service-box
  {
    min-width: 150px;
  }
  .mt-link
  {
    margin-top: 35px;
  }

}
@media screen and (max-width:370px ) {
  .service-box
  {
    min-width: 170px;
  }
}
@media screen and (max-width:1000px){
  .service-title
  {
     font-size: 12px;
     text-align: center;
  }
}
@media screen and (max-width:500px){
  .service-box
  {
    height: 200px;
  }
  .service-title
  {
     font-size: 10px;
     text-align: center;
  }
  .service-text
  {
    font-size: 14px;
    margin: 0;
  }
  .service-title
  {
    font-size: 16px;
  }
  .titre
  {
    font-size: 16px;
  }
  .more
  {
    font-size: 12px;
    margin-top: 10px;
  }
}
@media screen and (max-width:400px){

  .service-text
  {
    font-size: 12px;
  }
  .service-title{
    font-size: 14px;
  }

}
@media   (min-width:1000px) and (max-width:1400px){
  .service-box
  {
    height: 300px;
   .service-text{
     font-size: 14px;
     margin: 0;
   }
    .mt-link
    {
      margin-top: 0px;
    }
    .more
    {
     font-size: 12px;
    }
  }
}