<div class="container mx-auto mt-3 comment d-flex flex-column justify-content-center align-items-center " >
  <h5 class="my-3 text-center text-opacity">Ce que disent nos utilisateurs</h5>
  <div class="col d-flex justify-content-end align-items-center gap-5 w-75 my-3 fs-3">
    <i class="bi bi-arrow-left text-one fs-3"></i>
    <i class="bi bi-arrow-right text-one fs-3"></i>
  </div>
  <div class="col mx-auto d-flex justify-content-center align-items-center gap-3 mt-2  align-self-center">
    <div class="col col-md-5 p-3 d-flex flex-column gap-3 shadow">
      <div class="row">
        <i class="bi bi-quote"></i>
        <p class="text-justify mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quibusdam veritatis error nisi aperiam totam voluptatum accusantium quod cumque. Dolore eum quia cum blanditiis rem.</p>
      </div>
      <div class="col d-flex align-items-center gap-5">
        <img src="assets/2sensImages/profil_man.png" class="rounded-circle img-fluid" alt="profil user" width="60px">
        <span class="font-two fw-bold text-uppercase">dimidev</span>
      </div>
    </div>
    <div class="col col-md-5 p-3 d-flex flex-column gap-3 shadow">
      <div class="row">
        <i class="bi bi-quote"></i>
        <p class="text-justify mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quibusdam veritatis error nisi aperiam totam voluptatum accusantium quod cumque. Dolore eum quia cum blanditiis rem.</p>
      </div>
      <div class="col d-flex align-items-center gap-5">
        <img src="assets/2sensImages/profil_man.png" class="rounded-circle img-fluid" alt="profil user" width="60px">
        <span class="font-two fw-bold text-uppercase">dimidev</span>
      </div>
    </div>
  </div>
</div>
