

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item  active" data-bs-interval="1000">
        <img src="assets/2sensImages/home1.jpeg" class="carousel-imgage w-100 img-fluid" alt="home image" >
        <div class="row infos">
            <span class="text-white bg-one px-4 py-2  w-50">Immigration Canada</span>
            <p class="text-justify text-white">Rejoingnez les expert qui vous donnerons la procedure a suivre</p>
            <button class="text-white btn-one px-4 py-2 w-50">Poser une question</button>
        </div>
        <div class="back-blur text-dark bg-one"></div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/2sensImages/home2.jpeg" class="d-block w-100 img-fluid" alt="home image">
        <div class="row infos">
          <span class="text-white bg-one px-4 py-2  w-50">Immigration Canada</span>
          <p class="text-justify text-white">Rejoingnez les expert qui vous donnerons la procedure a suivre</p>
          <button class="text-white btn-one px-4 py-2 w-50">Poser une question</button>
      </div>
      <div class="back-blur text-dark bg-one"></div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/2sensImages/home3.jpeg" class="d-block w-100 img-fluid" alt="home image">
        <div class="row infos">
          <span class="text-white bg-one px-4 py-2  w-50">Immigration Canada</span>
          <p class="text-justify text-white">Rejoingnez les expert qui vous donnerons la procedure a suivre</p>
          <button class="text-white btn-one px-4 py-2 w-50">Poser une question</button>
      </div>
      <div class="back-blur text-dark bg-one"></div>
      </div>
    </div>
    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon " aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


