#homescreen
{
  width: 100vw;
  height: 20vh;
  position: relative;
  display: block;
  z-index: 1;
 margin-bottom: 25px;

}
#carouselExampleInterval
{
  display: block;
  position: relative;
}
.infos
{
  width: 25vw;
  min-width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:25px;
  position: absolute;
  top: 25%;
  left: 30%;
  z-index: 999;
  animation-name: slide;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  // animation-delay: 2s;

  p{
    font-size: 1.7rem;
    text-align: left;
  }
  span,a
  {
    min-width: fit-content;
    border-radius: 5px;
  }
}
.back-blur
{
   width: 100%;
   height: 100vh;
   background-color:#333;
   opacity: 0.3;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
}
.carousel-item
{
  height: 85vh;
  position: relative;
}
.carousel-item img
{
  height: 100%;
  z-index: -1;
}
@keyframes slide {
  0%
  {
    opacity: 0;
     transform:translateX(-120%);
  }
  100%
  {
      opacity: 1;
      transform:translateX(0%);
  }
}

@media screen  and (max-width:500px){
 .infos
 {
   min-width: 250px;
   left: 20%;
 }
}
