<div class="container-fluid container-md">
   <div class="col-12 mt-3">
      <app-infos-menu libelle="Infos" description="Souscrivez a un forfait pour voir les réponses a votre question"></app-infos-menu>
   </div>
  <div class="col-12 payment-card mt-5 ">
     <div class="col col-md-3  payment-card-item">
       <app-payment></app-payment>
     </div>
     <div class="col col-md-3 payment-card-item ">
       <app-payment></app-payment>
     </div>
     <div class="col col-md-3 payment-card-item ">
       <app-payment></app-payment>
     </div>
  </div>
</div>
